# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
coverage/
.next/
.vercel/
.env
.env.*.local
.env.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency directories
bower_components/

# Misc
*.tgz
*.gz
*.zip

# MongoDB database files
*.local

# React Native
.expo/

